header{position:relative;}
header a{margin-right:4%;}
header h1{background: url(/dist/img/logoworld.png) no-repeat center center;height:100%;background-size: 40% 70%;}
select{-webkit-appearance: listbox; -webkit-user-select: auto !important;}
#citylist{border-width:0;background:url(/dist/img/selectarrow.png) no-repeat center right #F7F7F7;padding-right:23px;position:absolute;z-index:20px;font-size:14px;background-position-y:33% ;}