/*文字色*/
/*黑色*/
/*白色*/
/*粉红色*/
/*蓝色*/
/*bg色*/
/*背景默认色*/
/*浅绿色*/
/*边线颜色*/
/*输入框描边*/
/*hr*/
/*字号*/
.detail-icon {
  float: left;
  display: block !important;
  background: url("../images/icons/detail-icon-bg.png") no-repeat;
  background-size: 3.3rem 2.2rem;
}
.mBan2 .slideBox {
  position: relative;
  width: 100%;
  max-height: 9.6rem;
}
.mBan2 .slideBox .bd {
  position: relative;
  height: 100%;
  z-index: 0;
}
.mBan2 .slideBox .bd ul {
  width: 100% !important;
}
.mBan2 .slideBox .bd ul li {
  width: 100% !important;
}
.banner-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.1rem;
  padding: .62rem 0 0 .3rem;
  background: url(http://img2.static.uban.com/m/images/detail-banner-bg.png) no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  z-index: 11;
}
.banner-text p {
  width: 70%;
  font-size: .24rem;
  color: #fff;
  line-height: .32rem;
}
.banner-text p .detail-icon {
  width: .32rem;
  height: .36rem;
  margin-right: .12rem;
  background-position: -1rem -0.24rem;
}
.pageState {
  position: absolute;
  right: .3rem;
  bottom: .08rem;
  padding: 2px 8px;
  line-height: .4rem;
  font-size: 0.24rem;
  color: #fff;
  z-index: 3;
}
.pageState.pageState:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: -1px;
  margin-right: 4px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;
}
.pageState.pageState:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: -1px;
  margin-left: 4px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #fff;
}
.border-tb {
  border-color: #e5e5e6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  background-color: #fff;
  overflow: hidden;
}
.office-info {
  position: relative;
  padding-top: .26rem;
}
.office-info hr {
  margin: 0;
  border: none;
  border-top: 1px solid #e5e5e6;
}
.office-info p {
  padding: .28rem .3rem .2rem;
}
.office-info .panorama {
  position: absolute;
  right: .3rem;
  top: .22rem;
  line-height: .6rem;
}
.office-info .panorama .detail-icon {
  width: .7rem;
  height: .6rem;
  background-position: -0.14rem -0.08rem;
}
.supply-tag {
  margin-bottom: .24rem;
  overflow: hidden;
  padding: 0 .3rem;
}
.supply-tag dd {
  float: left;
  padding: 0 .1rem;
  margin-right: .1rem;
  color: #999;
  font-size: 0.24rem;
  background-color: #f1f5fc;
}
.sort-title {
  font-size: .3rem;
  line-height: .42rem;
}
#swiper-container-menu {
  border-bottom: 1px solid #e5e5e6;
}
#swiper-container-menu .swiper-slide {
  height: .8rem;
  line-height: .8rem;
  color: #999;
  text-align: center;
}
#swiper-container-menu .swiper-slide.active-nav {
  color: #476CBA;
  border-bottom: 1px solid #476CBA;
}
#swiper-container-conts .swiper-slide-active {
  height: auto;
}
.dz-list {
  display: block;
  padding: .26rem 0;
  margin: 0 .3rem;
  border-bottom: 1px solid #e5e5e6;
}
.dz-list img {
  width: 1.2rem;
  height: .8rem;
}
.dz-list span {
  float: left;
  line-height: .8rem;
  font-size: 0.24rem;
  color: #302f35;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dz-list span:nth-of-type(1) {
  width: 28%;
  margin-left: 3%;
}
.dz-list span:nth-of-type(2) {
  width: 17%;
  text-align: center;
}
.dz-list span:nth-of-type(3) {
  float: right;
}
.btn-more {
  display: block;
  height: .8rem;
  line-height: .8rem;
  font-size: 0.24rem;
  color: #999;
  text-align: center;
}
.border-tb {
  border-color: #e5e5e6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  background-color: #fff;
  overflow: hidden;
}
.sort-title {
  font-size: .3rem;
  line-height: .42rem;
}
.companyeChart-box {
  position: relative;
}
.companyeChart-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  margin-top: -0.5rem;
  font-size: .3rem;
  text-align: center;
}
.companyeChart-text img {
  width: .4rem;
}
.company-list {
  background-color: #fff;
  border-top: 1px solid #e5e5e6;
  border-bottom: 1px solid #e5e5e6;
}
.company-list li {
  padding: .3rem 0;
  border-bottom: 1px solid #e5e5e6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.company-list li:last-child {
  border-bottom: none;
}
.detail-list ul li {
  float: left;
  width: 50%;
  height: .8rem;
  line-height: .8rem;
  font-size: 0.26rem;
  color: #302f35;
  border-bottom: 1px solid #e5e5e6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.detail-list ul li span {
  float: left;
  width: 40%;
  line-height: .8rem;
  margin-right: .3rem;
  font-size: 0.26rem;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.supporting-item {
  float: left;
  display: block;
  position: relative;
  width: 25%;
  font-size: 0.24rem;
  text-align: center;
}
.supporting-icon {
  display: inline-block;
  width: .76rem;
  height: .48rem;
  background: url(http://img2.static.uban.com/www/images/detail-icon-bg.png) no-repeat;
}
.sup-ct {
  background-position: -4.46rem -3rem;
}
.sup-jd {
  background-position: -3.64rem -3rem;
}
.sup-js {
  background-position: -2.06rem -3rem;
}
.sup-yh {
  background-position: -2.86rem -3rem;
}
.other-ly li {
  float: left;
  width: 48%;
  height: auto;
  overflow: hidden;
}
.other-ly li:nth-child(2n) {
  margin-left: 4%;
}
.other-ly h4 {
  line-height: .42rem;
  margin-top: .14rem;
  color: #302F35;
  font-size: 0.3rem;
}
.other-ly p span {
  display: block;
  width: 50%;
  line-height: .44rem;
}
.other-ly p span:nth-of-type(1) {
  font-size: 0.24rem;
  color: #000;
}
.tel-order {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  color: #fff;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 -0.04rem 0.16rem 0 rgba(0, 0, 0, 0.1);
}
.tel-order .detail-icon {
  float: none;
  width: .42rem;
  height: .42rem;
  margin: 0 auto;
  margin-bottom: 4px;
}
.tel-order .order--pk .detail-icon {
  background-position: -1.46rem -0.2rem;
}
.tel-order .order--attention .detail-icon {
  background-position: -2.03rem -0.2rem;
}
.tel-order .order--tel-order .detail-icon {
  background-position: -2.6rem -0.2rem;
}
.tel-order a {
  float: left;
  line-height: .24rem;
  padding: .14rem .3rem;
  font-size: 0.24rem;
  color: #848587;
  text-align: center;
}
.tel-order a.phone--tel-order {
  float: right;
  display: block;
  width: 36%;
  padding: .34rem 0;
  color: #fff;
  text-align: center;
  font-size: .32rem;
  line-height: .32rem;
  background-color: #302f35;
}
.tel-order a.phone--tel-order img {
  width: 15px;
}
