/*文字色*/
/*黑色*/
/*白色*/
/*粉红色*/
/*蓝色*/
/*bg色*/
/*背景默认色*/
/*浅绿色*/
/*边线颜色*/
/*输入框描边*/
/*hr*/
/*字号*/
section {
  position: relative;
  width: 100%;
}
.detail-search {
  float: left;
  width: 54%;
  height: .62rem;
  line-height: .62rem;
  padding-left: .7rem;
  margin-top: .12rem;
  margin-left: 1.12rem;
  background: #fff url(../images/icons/detail-icon.png) 0.16rem 0.06rem no-repeat;
  background-size: .48rem auto;
  border-radius: .1rem;
  box-sizing: border-box;
}
.detail-search input {
  display: block;
  width: 94%;
  height: 100%;
  color: #666;
  background: none;
  border: none;
  text-align: center;
  font-size: 0.24rem;
}
.filtate-outter {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 8;
}
.list-filtrate {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.filt-arrow {
  display: inline-block;
  width: .3rem;
  height: .18rem;
  margin-left: .06rem;
  background: #fff url(../images/icons/detail-icon.png) -0.18rem -0.78rem no-repeat;
  background-size: .64rem auto;
}
.filtrate-nav ul {
  display: -webkit-box;
  display: box;
  height: .88rem;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
}
.filtrate-nav li {
  float: left;
  -webkit-box-flex: 1;
  box-flex: 1;
  position: relative;
  width: 25%;
  padding-top: .18rem;
  text-align: center;
}
.filtrate-nav li:last-child a {
  border-right: none;
}
.filtrate-nav a {
  display: block;
  height: .52rem;
  line-height: .52rem;
  color: #666;
  font-size: 0.26rem;
  border-right: 1px solid #e5e5e6;
}
.filtrate-nav a > h2 {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
}
.filtrate-nav i {
  display: inline-block;
}
.supply_box {
  display: block;
  position: relative;
  width: 100%;
  padding: .3rem 0;
  border-bottom: 1px solid #e5e5e6;
  z-index: 1;
}
.supply_price {
  position: absolute;
  top: .36rem;
  right: 0;
  line-height: 1.4em;
  font-size: 0.26rem;
}
.supply_price span {
  line-height: 1em;
}
.supply_price i {
  font-size: 0.24rem;
}
.supply {
  width: auto;
  height: 74px;
}
.supply dt {
  float: left;
  position: relative;
  width: 111px;
  height: 74px;
  margin-right: .2rem;
}
.supply dt .icon720 {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: .64rem;
  height: .44rem;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  border-top-left-radius: .12rem;
}
.supply dt .icon720 img {
  width: .52rem;
  height: .3rem;
  margin-top: 3px;
}
.supply_msg_box {
  padding-left: 2.42rem;
  color: #999;
}
.supply_msg_box dd {
  font-size: 0.24rem;
  color: #302F35;
}
.supply_msg_box dd.supply_house {
  width: 57%;
  font-size: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  margin-top: -0.1rem;
}
.supply_msg_box dd.supply_color {
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: .06rem;
  color: #999;
}
.supply_tag {
  height: 19px;
}
.supply_tag dd {
  float: left;
  padding: 0 .1rem;
  margin-right: .06rem;
  color: #999;
  border: 1px solid #f2f2f2;
}
.portrait {
  width: 80px;
  height: 80px;
  margin: 20px auto;
  background-color: #476CBA;
  border-radius: 50%;
}
.ys_function a {
  display: block;
  padding: 10px 0;
  margin: 0 20px;
  border-bottom: 1px solid #e4e4e4;
}
.log_out_btn {
  width: 2rem;
  height: .8rem;
  line-height: .8rem;
  display: block;
  border-radius: .08rem;
  text-align: center;
  border: 1px solid #302f35;
  position: absolute;
  left: 50%;
  bottom: 3rem;
  margin-left: -1rem;
}
.log_out_btn:hover {
  background-color: #302f35;
  color: #fff;
}
